<h1><u>Welcome to utamaduni store</u>

<p id="one">The number one store for buying and selling african products</p>
</h1>
<!--cards-->
<div class="container-fluid">
    <div class="row">
        <div class="col col sm-4 col md-4 col lg-4 col xl-4">
            <div class="card" style="width: 18rem; margin-bottom:50px;">
                <img src="/images/dress.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">fashion</a>
                </div>
            </div>
        </div>
<!--        card one ends-->

        <div class="col col sm-4 col md-4 col lg-4 col xl-4">

            <div class="card" style="width: 18rem; margin-bottom:90px;height: 82vh;">
                <img src="images/download.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">fabric</a>
                </div>
            </div>
        </div>
<!--        card two ends-->
        <div class="col col sm-4 col md-4 col xl-4 col lg-4">
            <div class="card" style="width: 18rem; margin-bottom:50px;height:82vh;">
                <img src="images/jew.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">jewelery</a>
                </div>
            </div>

        </div>
    </div>
<!--row ends-->
</div>
<!--div ends-->
<!--row 2-->
<div class="container-fluid">
    <div class="row">
        <div class="col col sm-4 col md-4 col lg-4 col xl-4">
            <div class="card" style="width: 18rem; margin-bottom:50px ;height:63vh;">
                <img src="/images/a.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">artefacts</a>
                </div>
            </div>
        </div>
        <!--        card one ends-->

        <div class="col col sm-4 col md-4 col lg-4 col xl-4">

            <div class="card" style="width: 18rem; margin-bottom:90px;height:63vh">
                <img src="images/bg.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">bags</a>
                </div>
            </div>
        </div>
        <!--        card two ends-->
        <div class="col col sm-4 col md-4 col xl-4 col lg-4">
            <div class="card" style="width: 18rem; margin-bottom:50px;height:63vh;">
                <img src="images/g.jpeg" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">gifts</a>
                </div>
            </div>

        </div>
    </div>
    <!--row ends-->
</div>

<!--aside-->
<div class="aside">
   <div class="row">
       <div class="col col sm-6 col md-6 col lg-6 col xl-6">
           <h2 class="#">About</h2>
           <p>utamaduni store is a cultural store for buying and selling african products
             Anyone can become a retailer  </p>
       </div>

       <div class="col col sm-6 col md-6 col lg-6 col xl-6">
           <h3>learn to style your ankara</h3>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/PfchSmi5zDg" frameborder="0" allow="accelerometer;
           autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>

   </div>
</div>