
body, html {
    height: 100%;
    background-color: lavender;
    /*background-image: url("/images/cover.jpg");*/



}

h1{
    color:white;
    background-image: url("/images/cover.jpg");
    height:500px;
    font-family: sans-serif;
    padding-top:150px;
    width:1500px;
    padding-right:80px;
    text-align: center;

}
#one{
    font-family: serif;
    color:black;
    font-size:medium;
    text-transform: uppercase;
}
footer{
    background-color: cadetblue;
    text-align: center;
    padding-top: 10px;
}

